*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
analysis/.ipynb_checkpoints/care_home_binary_test-checkpoint.ipynb
analysis/care_home_binary_test.ipynb
